<div class="row inside-scoop">
  <%= image_tag "brush.png", id: "brush-logo" %>
  <div class="small-12 medium-10 medium-offset-1 coulmns toc">
    <h1>Details</h1>
    <ul>
      <li class="toc-li"><a href="#session-options" class="scroll">Session Options</a></li>
      <li class="toc-li"><a href="#session-bundles" class="scroll">Session Bundles</a></li>
      <li class="toc-li"><a href="#client-love" class="scroll">Client Love</a></li>
      <li class="toc-li"><a href="#artwork" class="scroll">Artwork</a></li>
      <li class="toc-li"><a href="#process" class="scroll">The Process</a></li>
    </ul>
  </div>

  <div class="small-12 medium-10 medium-offset-1 coulmns detail-image-box">
    <%= image_tag "details.jpg", id: "details-img" %>
  </div>

  <div class="small-12 medium-10 medium-offset-1 coulmns">
    <h2 id="session-options">Session Options</h2>
    
    <h3>Family Fun</h3>
    <h4>Siblings or families</h4>
    
    <ul>
      <li>In-person consultation & styling</li>
      <li>60 min session on location</li>
      <li>Full post-processing of 30-40 images</li>
      <li>In-home gallery premiere, design 
          service, and ordering assistance
      </li>
      <li>USB of all web-sized images in gallery</li>
      <li>5x7 archival linen photo book</li>
    </ul>

    <h4 class='price'>$200</h4>

    <h3>Newborn</h3>

    <ul>
      <li>In-person consultation & styling</li>
      <li>60-90 minute in-home session</li>
      <li>Full post-processing of 30-40 images</li>
      <li>In-home gallery premiere, design service, & ordering assistance</li>
      <li>USB of all web-sized images in gallery</li>
      <li>5 Gift Prints</li>
      <li>5x7 archival linen photo book</li>
    </ul>

    <h4 class='price'>$200</h4>

    <h3>Senior Session</h3>
    <h4>High School Seniors</h4>

    <ul>
      <li>In-person consultation & styling</li>
      <li>60-90 min session on location(s)</li>
      <li>Unlimited outfit changes</li>
      <li>Full post-processing of 30-40 images</li>
      <li>In-home gallery premiere, design 
          service, and ordering assistance
      </li>
      <li>USB of all web-sized images in gallery</li>
      <li>5x7 archival linen photo book</li>
      <li>25 boutique 5x7 photo announcement cards</li>
    </ul>

    <h4 class='price'>$200</h4>

    <h2 id="session-bundles">Bundles</h2>

    <h3>Baby’s First Year</h3>
    <h4>Newborn + 6mo + 1 Year</h4>

    <ul>
      <li>In person consultations & styling for each</li>
      <li>60 minute sessions for each</li>
      <li>Full post-processing of 30 images or each</li>
      <li>In-home gallery premiere, design service, and ordering assistance for each</li>
      <li>USB of all web-sized images from each gallery</li>
      <li>Album of favorites from each combined</li>
      <li>Artwork trio of 12x12 or 11x14 canvas wrap</li>
    </ul>

    <h4 class='price'>$899</h4>

    <h3>Watch Me Grow</h3>

    <ul>
      <li>4 basic Mini’s for kids over the course of 2 years</li>
      <li>Album of favorites from each combined</li>
    </ul>

    <h4 class='price'>$499</h4>

    
    <%= image_tag "details2.jpg", id: "details-img2" %>
    

    <h2 id="client-love">Client Love</h2>

    <p>
      I’ve had a lot of family photos taken but none as 
      great as the ones Leah took. The girls had so much 
      fun, they wanted to do it again the next day; 
      usually they can’t wait to be finished with taking 
      photos. I was nervous about being in the photos 
      myself but Leah did a great job of flattering me, 
      too!
    </p>

    <p>~ Kerry</p>

    <p>
      My favorite part about working with Leah was the 
      ease of the entire shoot - there was no pressure to 
      pose - just a natural, have fun kind of atmosphere! 
      I've worked with several photographers in the past 
      and none of them made me feel as comfortable while 
      still producing amazing pictures. She’s so easy to 
      work with - if you have any ideas, let her know and 
      she will take them to the next level! I promise you 
      won't be disappointed.
    </p>

    <p>~ Justyn</p>

    <h2 id="artwork">Artwork</h2>

    <p>
      After your shoot, it’s time to get those images on 
      display so you can smile and them every day. I’ll 
      bring samples and tools to your gallery premiere to 
      help you decide the best products for you. Artwork 
      options include canvas gallery wraps, float wraps, 
      mounted prints, photo books, albums, and standard 
      sized prints, all archival in quality and ready to 
      stand the test of time.
    </p>

    <h3>Collections</h3>

    <p>
      I’ve created several discounted packages based on popular 
      products and arrangements. Save money by choosing one of 
      these classic options for your walls. 
    </p>

    <h3>Go Rouge</h3>

    <p>
      You can also decide to create your own stylishly perfect 
      display by picking and choosing products a la carte. I’ll 
      help you custom fit art pieces to your home and design 
      gifts your family will love.
    </p>

    <h2 id="process">The Process</h2>

    <ol>
      <li>
        You contacted me for a shoot so you’re now one of my 
        new favorite people! We’ll make a plan  to get together 
        for coffee or tea and iron out all the details 
        including date, time, location, and styling for your 
        shoot.
      </li>
      <li>
        We'll meet for some memory-making magic and I’ll capture 
        all the fun with my trusty camera.
      </li>
      <li>
        You eagerly anticipate your images for approximately 1-2 
        weeks while I pour over them behind-the-scenes, editing 
        and enhancing them to their optimal quality.
      </li>
      <li>
         We'll sit down together and view your final, completed 
         gallery from which you can choose how you’d like to 
         enjoy your images, whether through prints, cards, 
         digitals archives, or gorgeous artwork for your walls. 
         We'll design the best fit for your needs and budget, 
         place your order, and you’ll be enjoying your images 
         in-hand in 7-10 days.
      </li>
    </ol>
</div>

<script>
var hashTagActive = "";
$(".scroll").click(function (event) {
    if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
        event.preventDefault();
        //calculate destination place
        var dest = 0;
        if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
            dest = $(document).height() - $(window).height();
        } else {
            dest = $(this.hash).offset().top;
        }
        //go to destination
        $('html,body').animate({
            scrollTop: dest
        }, 1500, 'swing');
        hashTagActive = this.hash;
    }
});

var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
if(width < 740){
  $("#brush-logo").css("display", "none");
}
</script>