<div class="row inside-scoop">
  <%= image_tag "brush.png", id: "brush-logo" %>
  <div class="small-12 medium-10 medium-offset-1 coulmns toc">
    <h1>Details</h1>
    <ul>
      <li class="toc-li"><a href="#the-process" class="scroll">The Process</a></li>
      <li class="toc-li"><a href="#investment" class="scroll">Investment</a></li>
      <li class="toc-li"><a href="#bundle-options" class="scroll">Bundle Options</a></li>
      <li class="toc-li"><a href="#testimonials" class="scroll">Testimonials</a></li>
    </ul>
  </div>

  <div class="small-12 medium-10 medium-offset-1 coulmns detail-image-box">
    <%= image_tag "details.jpg", id: "details-img" %>
  </div>

  <div class="small-12 medium-10 medium-offset-1 coulmns">
    <h2 id="the-process">The Process</h2>
    
    <p>Firefly Photography is all about celebrating family, personality, and love so your experience and session will be personalized to reflect what you cherish about this particular stage in your life.</p>
    <p>When you book with me, we’ll work together to plan the details of your session and showcase a true reflection of your life. You won’t ever hear me shouting, “say cheeeeese” or asking you to rigidly tilt your head and hold still during your shoot. I’ll guide you through subtle actions and prompting that result in natural and flattering images every time.</p>
    <p>You can expect your images to be delivered in 1-2 weeks after your session.</p>
    <p>Firefly specializes in natural-light, on location portrait photography for people with a zest for life and a heart for nostalgia. Maternity, gender reveal, newborn, sibling, senior, couple, and family sessions may all apply so be sure to contact Leah about your specific needs!</p>

    <h2 id="investment">Investment</h2>

    <p class="quote">“where you invest your love, you invest your life”</p>
    <p>Your investment occurs at two stages:</p>
    <h5 class="mint">1. Your initial deposit to reserve the session date/time | due at time of booking | $200</h5>
    
    <p class="header">Session Fee includes:</p>

    <ul>
      <li>Pre-session consultation via phone or email questionnaire</li>
      <li>On location photo session (roughly 60 minutes)</li>
      <li>Gallery of 25-30 retouched images</li>
      <li>USB of web-sized final images</li>
      <li>In-home Gallery Premiere</li>
    </ul>

    <h5 class="mint">2. Your Customized Image Collection – due at gallery premiere</h5>

    <p>Choose from digitals, prints, Display Collections, or any combination to get exactly what you need</p>
    <p>Prints start at $9.99 | Display collections begin at $139 | Ask about customizable books and albums! | Please contact Leah for more detailed information. </p>

    <%= image_tag "details2.jpg", id: "details-img2" %>

    <h2 id="bundle-options">Bundle Options</h2>
    <h5 class="mint center">Baby’s First Year</h4>
    <ul>
      <li>3 full regular sessions over the course of your baby’s first precious year</li>
      <li>+ Custom Album of favorite images from combined sessions</li>
      <li>+ 30% off product catalog for that year</li>
    </ul>
    <p><i>(Option to substitute maternity session for one baby session if desired)</i></p>
    <p>$600</p>

    <h5 class="mint center">Watch Me Grow</h4>
    <p>4 mini sessions</p>
    <ul>
      <li>Pre-session consultation via phone or email questionnaire</li>
      <li>On location photo session (roughly 20 minutes each)</li>
      <li>Gallery of 10 retouched images per session</li>
      <li>USB of web-sized final images</li>
      <li>In-home Gallery Premiere</li>
    </ul>
    <p><i>(sessions must be scheduled over the course of 2 year period)</i></p>
    <p>$500</p>

    <h2 id="testimonials">Testimonials</h2>
    <p>My favorite part about working with Leah was the ease of the entire shoot - there was no pressure to pose - just a natural, have fun kind of atmosphere! I've worked with several photographers in the past and none of them made me feel as comfortable while still producing amazing pictures. She’s so easy to work with - if you have any ideas, let her know and she will take them to the next level! I promise you won't be disappointed.</p>
    <p>~ Justyn</p>
    
    <p>I’ve had a lot of family photos taken but none as great as the ones Leah took. The girls had so much fun, they wanted to do it again the next day; usually they can’t wait to be finished with taking photos. I was nervous about being in the photos myself but Leah did a great job of flattering me, too!</p>
    <p>~ Kerry</p>

    <p>We had our pictures done with [Leah] not too long ago and we had a blast. She was so nice and fun, my daughter LOVED her. I loved our pictures so much I had a really hard time picking my favorites (which is a great problem to have lol). She picked the most beautiful location and I highly recommend her to anyone looking to get pics done.</p>
    <p>~ Amy</p>

    <p>I can not express how happy I am with the pictures! You are talented and have a great eye! Thank you so much for working with us and being patient!</p>
    <p>~ Jennifer</p>
</div>

<script>
var hashTagActive = "";
$(".scroll").click(function (event) {
    if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
        event.preventDefault();
        //calculate destination place
        var dest = 0;
        if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
            dest = $(document).height() - $(window).height();
        } else {
            dest = $(this.hash).offset().top;
        }
        //go to destination
        $('html,body').animate({
            scrollTop: dest
        }, 1500, 'swing');
        hashTagActive = this.hash;
    }
});

var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
if(width < 740){
  $("#brush-logo").css("display", "none");
}
</script>