<h1 class="page-title">Home</h1>
<% if !(photographer_signed_in? || user_signed_in?) %>
	<%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<div class="slideshow-container">
	<%= image_tag "vinyard.jpg" %>
</div>