
<div class="row">
  <% if !(photographer_signed_in? || user_signed_in?) %>
  	<%#= link_to "Sign Up", new_user_registration_path %>
  <% end %>

  <div class="small-12 columns">
    <div><%= image_tag "home1.jpg" %></div>
  	<div><%= image_tag "home3.jpg" %></div>
  	<div><%= image_tag "home2.jpg" %></div>
  </div>
</div>
