<div class="row inside-scoop">
  <div class="small-12 medium-4 columns">
    <%= image_tag "fees.png", alt: "fees chart" %>
  </div>
  <div class="small-12 medium-4 columns">
    <h2>How It Works:</h2>
    <p>1. You contacted me for a shoot so you’re now one of my new favorite people! We’ll start chatting over email to get the ball rolling and iron out all the details including date, time, location, and styling.</p>
    <p>2. We meet for some memory-making magic and I’ll capture all the fun for you to recap in step 4.</p>
    <p>3. You eagerly anticipate your images for approximately 1-2 weeks while I pour over them behind-the-scenes, editing and enhancing them to their optimal, professional quality.</p>
    <p>4. We sit down together and view your final, completed gallery from which you can choose how you’d like to enjoy your images, whether through prints, cards, digitals archives, or gorgeous artwork for your walls. We design the best fit for your needs and budget, place your order, and you’ll be enjoying your images in-hand in 7-10 days.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag "tutu.jpg", alt: "Girl in tutu" %>
  </div>
</div>