<div class="row">
	<div class="small-10 small-offset-1 columns admin-choices">
		<%= link_to "Edit Tags", tags_path, class: "edit-tags" %>
		<%= link_to "View Users (#{total_users})", users_path, class: "view-users" %>
		<%= link_to "View Staff (#{total_staff})", photographers_path, class: "view-staff" %>
	</div>
</div>