<h1 class="page-title"><%= @user.fullname %></h1>

<% if @user.galleries.empty? %>
  <p>Thank you for signing up with Firefly Photography. If you recently completed a session I know you are anxious to view your pictures. This page is where all your galleries will be displayed as soon as the post processing is completed. I hope you enjoyed your session!</p>
  <p>~ Leah O'Connell</p>
<% else %>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	  <% @user.galleries.each do |gallery| %>
      <li>
		    <h2><%= link_to gallery.name, gallery_path(gallery) %></h2>
		    <%= link_to image_tag(gallery.cover_image.url(:original)), gallery_path(gallery) %>
		  </li>
	  <% end %>
	</ul>
<% end %>