<h1 class="page-title">Tags</h1>

<%= link_to "Add Tag", new_tag_path, class: "button" %>

<% @tags.each do |tag| %>
  <div class="tag-in-tag-list">
	  <p><%= tag.name %></p>
	  <ul class="crud-links">
		  <li class="crud-edit"><%= link_to "Edit Tag", edit_tag_path(tag) %></li>
		  <li class="crud-delete"><%= link_to "Delete Tag", tag_path(tag), method: :delete, data: {confirm: "Are you sure?"} %></li>
		</ul>
	</div>
<% end %>