/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require foundation_and_overrides
 *= require_tree .
 */

 $butter: #fff8b0;
 $teal: #74a9a8;
 $dark_gray: #939191;
 $nude: #f6e4da;
 $mint: #daf6f5;
 $cocoa: #b6a69b;
 $pale_yellow: #fffbd4;
 $light_gray: #cfcece;
 
 @import "font-awesome";