$butter: #fff8b0;
$teal: #74a9a8;
$dark_teal: #547A7A;
$dark_gray: #939191;
$nude: #f6e4da;
$mint: #daf6f5;
$cocoa: #b6a69b;
$pale_yellow: #fffbd4;
$light_gray: rgb(206, 206, 206);
$light_white: #F9F9F9;

$cgothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

body {
  background-color: $light_white;
}

.container {
	width: 95%;
	margin: 0 auto;
  min-height: 100%;
}

.brand {
  height: 100px;
  margin: 0 2em;
}

.page-title {
	text-align: center;	
}

ul.crud-links {
	list-style: none;
	margin-left: 0;
	li {

	}
}

/* ****** Flash Messages ****** */

.alert-success {
	margin: 1em;
  background-color: $teal;
  border: 2px solid $dark_teal;
  // border-radius: 1.5em;
  p {
  	font-size: 1em;
  	text-align: center;
  	color: $light_white;
  	padding: 0.25em !important;
  	margin-bottom: 0;
  }
}

.alert-danger {
  margin: 1em;
  background-color: #EB5856;
  border: 2px solid #EB5856;
  // border-radius: 1.5em;
  p {
    font-size: 1em;
    text-align: center;
    color: #751D1D;
    padding: 0.25em !important;
    margin-bottom: 0;
  }
}

.pagination {
  display: table;
  margin: 1em auto;
}

.pagination > * {
	margin: 0 0.5em;
}


.custom-nav {
  background-color: #F9F9F9;

  #logo {
    max-height: 120px;
    margin: 0 auto;
    display: table;
  }
  #menu-link {
    font-size: 0.8em;
    color: $teal;
    position: fixed;
    top: 0.3em; 
    right: 0px;
    padding: 0 5px;
    line-height: 80px;
    z-index: 100;
    background-color: $light_gray;
    font-family: $cgothic;
    &:hover {
      color: $dark_teal;
    }
  }
}

#nav-list {
  z-index: 90;
  list-style: none;
  background-color: $light_gray;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  li {
    font-family: book;
    // padding: 0.4em 2em;
    &:first-child {
      margin-top: 90px;
    }

    a {
      color: $teal;
      padding: 0.2em 2em;
      display: block;
      font-size: 1.4em;
      white-space: nowrap;
      font-family: $cgothic;
      &:hover {
        color: $light_white;
        background-color: $dark_teal;
      }
    }
  }
}

#slideshow {
  position: relative;  
  margin: 1.5em auto;
  div{
    max-height: 75%;
    margin: 0 auto;
    display: block;
    position: absolute; 
  }
}

#tag-logo {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  width: 140px;
  z-index: 100;
}

.footer {
  width: 100%;
  height: 10em;
  background-color: $teal;
  color: white;
}

/* **** Honeypot for forms **** */
.nickname-field {
	display: none;
}

@media (min-width: 640px) {
  .custom-nav {

    #menu-link {
      font-size: 1.2em;
      padding: 0 15px;
    }
  }

  #nav-list {
    width: auto;
    li {
      a {

      }
    }
  }
}