.container {
	width: 95%;
	margin: 0 auto;
}

.page-title {
	text-align: center;	
}

ul.crud-links {
	list-style: none;
	margin-left: 0;
	li {

	}
}


/* **** Honeypot for forms **** */
.nickname-field {
	display: none;
}