// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cgothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

.posts {
  .post-title {
    a {
      color: #1F1F1F;
      font-size: 0.8em;
      font-family: $cgothic;
      &:hover {
        text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
      }
      small {
        color: #008cba;
      }
    }
  }
  .post-description {
    color: #2E2E2E;
    margin: 2em auto;
    p {
      line-height: 1.8;
      text-indent: 1em;
    }
  }
}

.post {
  .post-title {
    margin: 1em auto;
    color: #1F1F1F;
    font-family: $cgothic;
    font-size: 2em;
  }
  p {
    color: #2E2E2E;
  }
}


.post-body {
	
  img {
    display: block;
    margin: 0 auto;
  }
}

.posts-admin-view {
  p {
  	line-height: 0.4em;
  }
}

.posts-sidebar {
  h3 {
    font-family: $cgothic;
    color: #1F1F1F;
  }
  p {
  	line-height: 0.8em;
  }
  a {
    font-family: $cgothic;
  	line-height: 1.2em;
  }
}

.post-cover-img {
  margin: 1em auto;
  display: block;
}

.tag-list {
  ul {
    list-style: none;
    margin: 0.2em 0;
  }
}