// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-description {

}

.post-body {
	
}

.posts-admin-view {
  p {
  	line-height: 0.4em;
  }
}

.posts-sidebar {
  p {
  	line-height: 0.8em;
  }
  a {
  	line-height: 1.2em;
  }
}

.post-cover-img {
  margin: 1em auto;
  display: block;
}