// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cgothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

$butter: #fff8b0;
$dark_gray: #939191;
$nude: #f6e4da;
$mint: #c5efc3;
$dark_mint: #92cc8f;
$cocoa: #b6a69b;
$pale_yellow: #fffbd4;
$light_gray: #cfcece;

@font-face {
  font-family: 'littlebird';
  src: asset-url('little_bird-webfont.eot?#iefix') format('embedded-opentype'), 
       asset-url('little_bird-webfont.woff') format('woff'), 
       asset-url('little_bird-webfont.ttf') format('truetype'),
       asset-url('little_bird-webfont.svg#svgFontName') format('svg');
}

.post {
  border: 3px solid $mint;
  padding: 2em 4em;
  .post-title {
    font-family: littlebird;
    color: #222;
  }
  p {
    color: #444;
    font-family: $cgothic;
  }
}

.posts {

  .post-title {
    margin: 1em auto;
    font-size: 2em;
    color: $dark_gray;
    font-family: littlebird;
    a {
      font-family: $cgothic;
      small {
        color: $dark_mint;
        &:hover {
          color: $mint;
        }
      }
    }
  }
  p {
    color: #2E2E2E;
  }
}


.post-body {
	
  img {
    display: block;
    margin: 0 auto;
  }
}

.posts-admin-view {
  p {
  	line-height: 0.4em;
  }
}

.posts-sidebar {
  h3 {
    font-family: littlebird;
    color: $dark_gray;
    font-size: 1.4em;
    margin-top: 1em;
  }
  p {
  	line-height: 0.8em;
  }
  a {
    font-family: $cgothic;
  	line-height: 0.5em;
    color: $dark_mint;
    &:hover {
      color: $mint;
    }
  }
}

.post-cover-img {
  margin: 1em auto;
  display: block;
}

.tag-list {
  ul {
    list-style: none;
    margin: 0.2em 0;
  }
}