// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'littlebird';
  src: url('little_bird-webfont.eot?#iefix') format('embedded-opentype'), 
       url('little_bird-webfont.woff') format('woff'), 
       url('little_bird-webfont.ttf')  format('truetype'),
       url('little_bird-webfont.svg#svgFontName') format('svg');
}

$sun: #fff21a;
$mint: #c5efc3;
$dark_mint: #92cc8f;
$chalk_gray: #4a4a4a;
$blush: #ffe3d3;
$light_gray: #939292;

$cgothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

.about-me-container {

  h4 {
    font-size: 1em;
    font-family: littlebird;
  }
  p {
    font-size: 0.8em;
  }
  .row {
    margin: 1em auto;
  }
}

.inside-scoop {
  div {
    h2 {
      font-family: littlebird;
      font-size: 1.4em;
    }
    p {
      font-family: $cgothic;
      font-size: 0.9em;
    }
    img {
      margin: 0 auto;
      display: block;
    }
  }
}

.slide-show {

  img {
    position: absolute;
    display: none;
  }
}


