// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'littlebird';
  src: asset-url('little_bird-webfont.eot?#iefix') format('embedded-opentype'), 
       asset-url('little_bird-webfont.woff') format('woff'), 
       asset-url('little_bird-webfont.ttf') format('truetype'),
       asset-url('little_bird-webfont.svg#svgFontName') format('svg');
}

$sun: #fff21a;
$mint: #c5efc3;
$dark_mint: #92cc8f;
$chalk_gray: #4a4a4a;
$blush: #ffe3d3;
$light_gray: #939292;

$cgothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

.about-me-container {
  
  .about-text {
    overflow: scroll;
    height: 20em;
  }

  h4 {
    font-size: 1.2em;
    font-family: littlebird;
  }
  p {
    font-family: $cgothic;
    font-size: 0.9em;
  }
  .row {
    margin: 1em auto;
  }
}

.inside-scoop {
  .mint,
  .quote {
    color: $dark-mint;
  }
  .center {
    text-align: center;
  }
  .toc-li {
    margin: 1.4em auto;
  }

  .detail-image-box {
    margin: 0;
    padding: 0;
    #details-img {
      margin: 0 auto;
      display: table;
    }
  }

  #brush-logo { 
    display: block;
    position: fixed;
    z-index: -1;
    opacity:0.4;
    left: 2em;
  }

  .qa {
    // border: 2px solid #fff99c;
  }
  
  .sessions {
    // border: 2px solid $mint;
  }

  .process {
    // border: 2px solid #c3c3c3;
  }

  .product {
    // border: 2px solid $blush;
  }

  .header {
    text-align: left;
  }

  div {
    margin: 1em auto;
    padding: 2em 4em;
  }

  h3 {
    color: $dark_mint;
    font-family: $cgothic;
    text-align: center;
  }

  h2 {
    color: $light_gray;
    font-family: littlebird;
    text-align: center;
    border-bottom: 2px solid $blush;
    display: table;
    margin: 1em auto;
  }

  h4 {
    color: $dark_mint;
    text-align: center;
    font-size: 1em;
    font-style: italic;
  }

  .price {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  p {
    font-family: $cgothic;
    text-align: center;
  }

  p.question {
    font-size: 1.2em;
    color: #222;
  }

  p.answer {
    color: #444;
  }

  li {
    color: #444;
    margin: 0.5em auto;
    text-align: center;
    line-height: 1.4em;
  
  }

  .toc {
    margin: 0 auto;
    h1 {
      text-align: center;
      font-family: littlebird;
      color: $light_gray;
      border-bottom: 2px solid $blush;
      display: table;
      margin: 0 auto; 
    }

    border: none;
    a {
      font-family: $cgothic;
      font-size: 1.5em;
      color: $dark_mint;
      transition: color 0.8s ease;
      &:hover {
        text-decoration: underline;
        color: $mint; 
      }
    }
    ul {
      li {
        text-align: center;
      }
    }
  }
  
  ul {
    list-style: none;
    margin-left: 0;
    li {
      text-align: left;
      line-height: 0.9em;
    }
  }
}

.serving {
  font-size: 2.6em;
  font-family: $cgothic;
  text-align: center;
}

.slide-show {
  margin-bottom: 2em;
}

.quote {
  font-family: $cgothic;

  p {
    font-size: 0.9em;
  }
  .name {
    font-family: littlebird;
  }
}

.belove-banner {
  img {
    margin: 0 auto;
    display: block;
  }
}

::-webkit-scrollbar {
    width: 12px;
}
 
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     border-radius: 10px;
// }
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media (min-width: 640px) {
  .serving {
    text-align: right;
  }

  .index-page {
    position: relative;
    bottom: 60px;
  }
}