<!-- Left Nav Section -->
<ul class="left">
  <li><%= link_to "Blog", posts_path %></li>
</ul>

<!-- Right Nav Section -->
<ul class="right">
  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>  
</ul>